[Unit]
Description=Ton access Reported
After=validator.service

[Service]
User=ubuntu
WorkingDirectory=/usr/src/access-reporter/
ExecStart=python3 access-reporter.py
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
